@using Microsoft.JSInterop;
@inject IJSRuntime JSRuntime

<style>
    .box {
        width: 40px;
        height: 40px;
    }

    .type0 {
        background-color: darkred;
    }

    .type1 {
        background-color: darkblue;
    }

    .marble {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 8%;
        left: 8%;
        width: 84%;
        height: 84%;
    }

    .row0 {
        position: absolute;
        top: 0;
    }

    .row1 {
        position: absolute;
        top: 40px;
    }

    .row2 {
        position: absolute;
        top: 80px;
    }

    .row3 {
        position: absolute;
        top: 120px;
    }

    .row4 {
        position: absolute;
        top: 160px;
    }

    .row5 {
        position: absolute;
        top: 200px;
    }
</style>

<div id="dynamic">
    <h1>Blazor</h1>
    <div style="position: relative; border: 1px solid black; height: 240px; width: 40px;">
        @for(int row = 0; row < Height; row++)
        {
            // Running the loop like this will produce a small diff: for(int row = Height - 1; row >= 0; row--)
            if (Grid[row] is not null)
            {
                <div id="row@(row)" class="box type@(Grid[row]) row@(row)">
                    <img id="row-image@(row)" class="marble" src="_content/RazorClassLibrary1/marble-@(Grid[row] + 1).svg">
                </div>
            }
        }

@*      // Skipping the loops above, and instead using this code will produce the exact same HTML - but with a small diff.
    
        @if (Grid[0, 0] is not null)
        {
            int col = 0;
            int row = 0;

            <div id="row@(row)" class="box type@(Grid[col, row]) row@(row)">
                <img id="row-image@(row)" class="marble" src="_content/RazorClassLibrary1/marble-@(Grid[col, row] + 1).svg">
            </div>
        }

        @if (Grid[0, 1] is not null)
        {
            int col = 0;
            int row = 1;

            <div id="row@(row)" class="box type@(Grid[col, row]) row@(row)">
                <img id="row-image@(row)" class="marble" src="_content/RazorClassLibrary1/marble-@(Grid[col, row] + 1).svg">
            </div>
        }

        @if (Grid[0, 2] is not null)
        {
            int col = 0;
            int row = 2;

            <div id="row@(row)"  class="box type@(Grid[col, row]) row@(row)">
                <img id="row-image@(row)" class="marble" src="_content/RazorClassLibrary1/marble-@(Grid[col, row] + 1).svg">
            </div>
        }

        @if (Grid[0, 3] is not null)
        {
            int col = 0;
            int row = 3;

            <div id="row@(row)" class="box type@(Grid[col, row]) row@(row)">
                <img id="row-image@(row)" class="marble" src="_content/RazorClassLibrary1/marble-@(Grid[col, row] + 1).svg">
            </div>
        }

        @if (Grid[0, 4] is not null)
        {
            int col = 0;
            int row = 4;

            <div id="row@(row)" class="box type@(Grid[col, row]) row@(row)">
                <img id="row-image@(row)" class="marble" src="_content/RazorClassLibrary1/marble-@(Grid[col, row] + 1).svg">
            </div>
        }

        @if (Grid[0, 5] is not null)
        {
            int col = 0;
            int row = 5;

            <div id="row@(row)" class="box type@(Grid[col, row]) row@(row)">
                <img id="row-image@(row)" class="marble" src="_content/RazorClassLibrary1/marble-@(Grid[col, row] + 1).svg">
            </div>
        }
*@

    </div>

    <p style="padding-top: 12px;">
        <button class="btn btn-primary" @onclick="Add">Add</button>
    </p>

    <h1>JavaScript</h1>
    <div id="container" style="position: relative; border: 1px solid black; height: 240px; width: 40px;"></div>
    <p style="padding-top: 12px;">
        <button id="add-button" class="btn btn-primary">Add</button>
    </p>
</div>

@if (!IsMonitoring)
{
    <p style="padding-top: 12px;">
        <button class="btn btn-primary" @onclick="StartMonitorChanges">Start monitor changes</button>
    </p>
}
else 
{
    <h3>Log</h3>
    <button class="btn btn-primary" @onclick="ClearLog">Clear log</button>
}

<pre id="monitorLog">

</pre>

@code {
    int NextType = 0;

    public const int Height = 6;

    private int?[] Grid = new int?[Height];

    private void Add()
    {
        if (Grid[0] is not null)
        {
            Grid = new int?[Height];
        }

        int lastEmptyRow = 0;
        for (int i = 1; i < Height; i++)
        {
            if (Grid[i] is null)
            {
                lastEmptyRow = i;
            }
            else
            {
                break;
            }
        }

        Grid[lastEmptyRow] = NextType;

        NextType = (NextType + 1) % 2;
    }

    private bool IsMonitoring = false;

    private async Task StartMonitorChanges()
    {
        IsMonitoring = true;
        await JSRuntime.InvokeVoidAsync("startMonitor");
    }

    private async Task ClearLog()
    {
        await JSRuntime.InvokeVoidAsync("clearLog");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("startJavaScriptMode");
        }

        await base.OnAfterRenderAsync(firstRender);
    }
}
